<ul class="submenu">
    <li n:if="$user->isAllowed($presenter->getNameSimple(), 'default')"><a n:href="default" n:class="$presenter->getAction() == 'default' ? active">{_'admin.text.summary'}</a></li>
    <li n:if="$user->isAllowed($presenter->getNameSimple(), 'log')"><a n:href="log" n:class="$presenter->getAction() == 'log' ? active">{_'admin.email.sendEmails'}</a></li>
    <li n:if="$user->isAllowed($presenter->getNameSimple(), 'new')"><a n:href="new" n:class="$presenter->getAction() == 'new' ? active">{_'admin.email.newEmail'}</a></li>
</ul>
<div class="clearfix"></div>